<div class="container mt-4">
  <h4> <%= "All pets offered for adoption by #{@user.first_name} #{@user.last_name}:" %></h4>
  <p></p><p></p><p></p>
  <% if @adoptions.empty? %>
    <p><%= "There were no prior adoptions by #{@user.first_name} #{@user.last_name}" %></p>
  <% else %>
    <table class="table">
      <thead class="bg-success">
        <tr>
          <th scope="col" style="text-align: center;">pet:</th>
          <th scope="col" style="text-align: center;">type:</th>
          <th scope="col" style="text-align: center;">offered on:</th>
          <th scope="col" style="text-align: center;">adoptor:</th>
          <th scope="col" style="text-align: center;">adoptor`s e-mail:</th>
          <th scope="col" style="text-align: center;">adoption status:</th>
          <th scope="col" style="text-align: center;">adoption date:</th>
        </tr>
      </thead>
      <tbody>
        <% @adoptions.each do |adoption| %>
          <% if adoption.concluded? %>
            <tr>
            <td style="text-align: center;"><%= adoption.pet.name %></td>
            <td style="text-align: center;"><%= adoption.pet.animal_type %></td>
            <td style="text-align: center;"><%= adoption.created_at %></td>
            <td style="text-align: center;"><%= adoption.user.first_name %> <%= adoption.user.last_name %></td>
            <td style="text-align: center;"><%= adoption.user.email %></td>
            <td style="text-align: center;"><%= adoption.status %></td>
            <td style="text-align: center;"><%= adoption.concluded_at %></td>
            </tr>
          <% end %>
          <p></p>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <p></p>
  <p></p>
  <%= link_to profiles_path do %>
    <div class="btn btn-success", style="width: 160px">back</div>
  <% end %>
</div>



