<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://placedog.net/640/480?random);">
  <div class="container">
    <p><%=current_user.first_name%></p>
    <p><%=current_user.last_name%></p>
    <p><%=current_user.date_of_birth%></p>
    <p><%=current_user.address%></p>
    <p><%=current_user.email%></p>
    <a class="btn btn-flat" href="#">Adopt a pet!</a>
    <p>  </p>
    <%= button_to "previous adoptions", user_all_adoptions_path(current_user), method: :get, class: "btn btn-flat" %>
  </div>
</div>
  <div>
    <% if @pets_adoptions.empty? %>
      <div class="alert alert-secondary" role="alert">You do not have any pending adoption requests.</div>
    <% else %>
      <div class="container" style="mt-3">
        <p> </p>
        <p> </p>
        <p> </p>
        <div class="alert alert-danger" role="alert">You have a pending adoption request!</div>
        <p class="h4">Pending adoption requests</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">pet name</th>
              <th scope="col">requested by</th>
              <th scope="col">e-mail</th>
              <th scope="col">message</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @pets_adoptions.each do |pet_adoption| %>
              <% pet_adoption.each do |adoption| %>
                <tr>
                  <td><%= adoption.pet.name %></td>
                  <td><%= adoption.user.first_name %></td>
                  <td><%= adoption.user.email %></td>
                  <td><%= adoption.content %></td>
                  <td><%= link_to "check request", user_adoption_show_path(adoption), method: :get %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<div class="container d-flex justify-content-around flex-wrap show my-5">
 <% @user.pets.each do |pet| %>
  <div class="card text-dark mb-3" id="card-description" style="max-width: 30rem;">
    <div class="card-body">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill if pet.photo.attached? %>')">
    </div>
      <h3 class="card-title">Pet</h3>
      <div class="d-flex flex-column bd-highlight">
       <p><%=pet.animal_type%></p>
       <p><%=pet.description%></p>
       <p><%=pet.name%></p>
       <p><%=pet.age%></p>
      </div>
  </div>
</div>
<%end%>
</div>

