<div class="container mt-3">
    <div class="container mt-3">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3628100/pexels-photo-3628100.jpeg?cs=srgb&dl=pexels-eddie-galaxy-3628100.jpg&fm=jpg);">
      <div class="container">
        <p>
          <span id="banner-typed-text"></span>
        </p>
        <% unless user_signed_in?  %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat"  %>
        <% end  %>
      </div>
    </div>
  </div>

  <div class="container mt-5" style="display: flex; flex-wrap: wrap; justify-content: space-around;">

    <% @pets.each do |pet| %>

      <div style="width: 300px; height 100%; background-image: url("https://placedog.net/640/480?random")>
      </div>
      <div class="card-trip" style="width: 300px; height: 200px;">
        <div class="card-trip-infos">
          <div>
            <h5 style="font-weight: bold; font-size: 30; text-align: center;"><%=pet.animal_type%></h5>
            <p><%=pet.description%></p>
          </div>
          <h5 style="font-weight: bold; font-size: 24;"><%= "owner: #{pet.user.first_name}" %></h5>
          <h5 style="font-weight: bold; font-size: 24;"><%= "address: #{pet.user.address}" %></h5>
        </div>
      </div>

    <% end %>
  </div>
</div>





</div>
