<div class="container mt-1">
  <div class="container mt-1">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://placedog.net/640/480?random);">
      <div class="container">
        <p>
          <span id="banner-typed-text"></span>
        </p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"  %>
      </div>
    </div>
  </div>

  <div class="py-1">
    <% @pets.each do |pet| %>
      <div class="card-trip py-2 my-2">
        <img src="<%= pet.image %>"/>
        <div class="card-trip-infos">
          <div>
            <h2><%=pet.animal_type%></h2>
            <p><%=pet.description%></p>
          </div>
          <h2 class="card-trip-pricing"><%="#{pet.user.first_name} - #{pet.user.address}"%></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
